<?php

session_start();

ini_set('display_errors', 0);

//Datos  de conexión a base de datos -------------------------------------------------------------
//------------------------------------------------------------------------------------------------
$db_name = "";
$db_user = "";
$db_password = "";
$db_host = "";

//Datos generales --------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------
$config['url'] = "";
$config['canvas_url'] = "";
$config['root_dir'] = "";
$Name = "";
$Domain = "";
$Skin = "default";

//Cargamos las librerias que vamos a usar
require(dirname(__FILE__)."/libs/class.adventure.php");
require(dirname(__FILE__)."/libs/smarty/libs/Smarty.class.php");
require(dirname(__FILE__)."/libs/facebook/facebook.php");
require(dirname(__FILE__)."/skins/".$Skin."/datas.php");

//Conexión a la base de datos
$link = mysql_connect($db_host, $db_user, $db_password);
mysql_select_db ($db_name, $link);
mysql_set_charset('utf8', $link);

//Configuramos el sistema de plantilla
$smarty = new Smarty;
require(dirname(__FILE__)."/libs/smarty/libs/plugins/smarty-gettext.php");
$smarty->template_dir = array(dirname(__FILE__)."/skins/".$Skin."/templates/");
$smarty->compile_dir = dirname(__FILE__)."/skins/".$Skin."/templates/templates_c/";
$smarty->registerPlugin("block","t", "smarty_translate");
$smarty->debugging = false;
$smarty->caching = false;
$smarty->cache_lifetime = 120;
$smarty->assign("Name", $Name);
$smarty->assign("Skin", $Skin);
$smarty->assign("Domain", $Domain);
$smarty->assign("URI", $_SERVER['REQUEST_URI']);

//Conexión con Facebook --------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------
$facebook = new Facebook(array(
	'appId'  => '',
	'secret' => '',
));
$smarty->assign("facebook", $facebook);
$user = $facebook->getUser();
if ($user) {
	try {
		$user_profile = $facebook->api('/me');
		$smarty->assign("user", $user);
		$smarty->assign("user_profile", $user_profile);
		$smarty->assign("logout_url", $facebook->getLogoutUrl());
	} catch (FacebookApiException $e) {
		/*echo '<pre>'.htmlspecialchars(print_r($e, true)).'</pre>';
		$user = null;
		die;*/
	}
}

?>
